<input type="text" [(ngModel)]="searchText" class="form-control"
  placeholder="O que voc&ecirc; est&aacute; procurando?" /><br />

<table class="table table-hover">
  <thead>
    <tr>
      <th>C&oacute;digo</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoriaTabela of categorias | filter:searchText">
      <a [routerLink]="[categoriaTabela.codigo]">
        <td>{{categoriaTabela.codigo}}</td>
      </a>
      <td>{{categoriaTabela.nome}}</td>
    </tr>
  </tbody>
</table>
<span [hidden]="(categorias | filter: searchText).length != 0">Infelizmente
  n&atilde;o temos o que voc&ecirc; est&aacute; procurando</span>